root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
shell_variant      = posix
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true

[*.json]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false


# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = never


# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none


# IDE0251: Make member 'readonly'
csharp_style_prefer_readonly_struct_member = false


# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = false


# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

